[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.1.0"
gunicorn = "*"
redis = "*"
rq = "*"
requests = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
"flask.cli" = "*"
beautifulsoup4 = "*"
nltk = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-login = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.7"
